@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Oblique.eot');
    src: url('../fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Oblique.woff2') format('woff2'),
        url('../fonts/Avenir-Oblique.woff') format('woff'),
        url('../fonts/Avenir-Oblique.ttf') format('truetype'),
        url('../fonts/Avenir-Oblique.svg#Avenir-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Light.eot');
    src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Light.woff2') format('woff2'),
        url('../fonts/Avenir-Light.woff') format('woff'),
        url('../fonts/Avenir-Light.ttf') format('truetype'),
        url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Black.eot');
    src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Black.woff2') format('woff2'),
        url('../fonts/Avenir-Black.woff') format('woff'),
        url('../fonts/Avenir-Black.ttf') format('truetype'),
        url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Medium.woff2') format('woff2'),
        url('../fonts/Avenir-Medium.woff') format('woff'),
        url('../fonts/Avenir-Medium.ttf') format('truetype'),
        url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanum Pen';
    src: url('../fonts/NanumPen-Regular.eot');
    src: url('../fonts/NanumPen-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumPen-Regular.woff2') format('woff2'),
        url('../fonts/NanumPen-Regular.woff') format('woff'),
        url('../fonts/NanumPen-Regular.ttf') format('truetype'),
        url('../fonts/NanumPen-Regular.svg#NanumPen-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?49pn4i');
    src: url('../fonts/icomoon.eot?49pn4i#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?49pn4i') format('truetype'),
        url('../fonts/icomoon.woff?49pn4i') format('woff'),
        url('../fonts/icomoon.svg?49pn4i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search-glass:before {
    content: "\e913";
    color: #618a4d;
}

.icon-profile:before {
    content: "\e914";
    color: #618a4d;
}

.icon-btn-bg:before {
    content: "\e900";
    color: #fff;
}

.icon-twitter:before {
    content: "\e901";
    color: #f2f2f2;
}

.icon-facebook:before {
    content: "\e902";
    color: #f2f2f2;
}

.icon-instagram:before {
    content: "\e903";
    color: #f2f2f2;
}

.icon-explore:before {
    content: "\e904";
    color: #7e1a5e;
}

.icon-eye:before {
    content: "\e905";
    color: #f2f2f2;
}

.icon-products:before {
    content: "\e906";
    color: #f2f2f2;
}

.icon-dollar .path1:before {
    content: "\e907";
    color: rgb(241, 128, 57);
}

.icon-dollar .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(255, 206, 117);
}

.icon-dollar .path3:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(241, 128, 57);
}

.icon-dollar .path4:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(255, 206, 117);
}

.icon-dollar .path5:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(255, 206, 117);
}

.icon-dollar .path6:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(241, 128, 57);
}

.icon-dollar .path7:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(241, 128, 57);
}

.icon-dollar .path8:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(241, 128, 57);
}

.icon-dollar .path9:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 206, 117);
}

.icon-dollar .path10:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(241, 128, 57);
}

.icon-story:before {
    content: "\e911";
    color: #fff;
}

.icon-right-arrow:before {
    content: "\e912";
    color: #fff;
}