.hero-sec {
    position: relative;
    min-height: 100vh;
    /* min-height: 965px; */
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-sec .container {
    padding: 265px 20px 100px;
}

.tractor-ele {
    opacity: 0;
}

.hero-sec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(97, 138, 77, 0.43) 0%, #54FF00 100%);
    opacity: 0.15;
    z-index: -1;
}

.hero-sec .h1 {
    max-width: 752px;
    color: var(--green);
    margin-bottom: 70px;
}

.hero-sec .img-block svg {
    position: absolute;
    bottom: -130px;
    left: calc(50% - 410px);
    width: 1540px;
    height: auto;
}

.good-food-sec {
    /* height: 100vh; */
    /* min-height: 800px; */
    /* overflow: hidden; */
    position: relative;
}

.good-food-sec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(250.89deg, #C5F3FF 48.68%, #54FF00 100%);
    opacity: 0.15;
    z-index: -1;
    transform: rotate(180deg);
}

.good-food-sec .h1 {
    color: var(--green);
}

.good-food-sec .btns-block a:not(:last-child) {
    margin-right: 60px;
}

.good-food-sec .content-block {
    max-width: 1050px;
    margin-left: auto;
    padding: 130px 0 370px;
}

.good-food-sec .content-block>* {
    position: relative;
    z-index: 1;
}

.good-food-sec .content-block .btns-block {
    margin-top: 50px;
}

.good-food-sec .svg-block {
    position: absolute;
    bottom: 0;
    left: -300px;
    width: 1613px;
    overflow: unset;
    pointer-events: none;
}

.good-food-sec .svg-block svg {
    width: 100%;
    height: 100%;
}

.good-food-sec .svg-block img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.good-food-sec .container {
    position: relative;
    height: 100%;
    display: flex;

}

.good-food-sec .img-block>img {
    position: absolute;
    bottom: 0;
}

.good-food-sec .img-block img.cart-bit-2-img {
    left: 390px;
    bottom: 360px;
}

.good-food-sec .img-block img.cart-bit-img {
    left: 190px;
    bottom: 360px;
}

.good-food-sec .img-block img.cart-bit-2-img,
.good-food-sec .img-block img.cart-bit-img {
    width: 86px;
}

.good-food-sec .img-block img.cart-carrot-2-img {
    left: 470px;
    bottom: 340px;
    width: 124px;
}

.good-food-sec .img-block img.cart-carrot-img {
    left: 340px;
    bottom: 220px;
    width: 167px;
}

.good-food-sec .img-block img.cart-potato-img {
    left: 270px;
    bottom: 170px;
    width: 240px;
}

.good-food-sec .img-block img.cart-spinach-2-img {
    left: 125px;
    bottom: 200px;
    width: 193px;
}

.good-food-sec .img-block img.cart-spinach-img {
    left: 240px;
    bottom: 180px;
    width: 280px;
}

.good-food-sec .img-block img.cart-tomato-img {
    left: 140px;
    bottom: 340px;
    width: 140px;
}

.menu-sec {
    padding: 130px 0 100px;
}

.menu-sec .shop-btn .btn-icon {
    font-size: 34px;
}

.menu-content-left .h3 {
    color: var(--green);
    margin-bottom: 0;
}

.menu-content-left .subtitle {
    font-family: var(--Nanum-Pen);
    line-height: 1;
    font-weight: normal;
}

.menu-inner {
    margin-left: calc((100% - 1720px) / 2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu-content-left {
    width: 700px;
}

.menu-content-left p {
    margin: 20px 0 40px;
}

.menu-slider {
    padding-left: 50px;
}

.menu-slider .menu-slider ul.filter {
    margin: 2em auto;
}

.menu-slider ul.filter {
    display: flex;
    flex-wrap: wrap;
}

.menu-slider ul.filter li {
    margin: 0 40px 0 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.25;
    color: #222222;
    opacity: 0.5;
    cursor: pointer;
}

.menu-slider ul.filter li.active {
    font-weight: 800;
    color: var(--green);
    opacity: 1;
    position: relative;
}

.menu-slider ul.filter li.active::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../images/active-dot.svg');
    width: 22px;
    height: 19px;
    background-size: cover;
}

.menu-slider {
    width: calc(100% - 700px);
}

.menu-slider .slick-slide {
    width: 450px;
    padding: 0 25px;
    margin-bottom: 0;
}

.menu-slider .slick-track {
    margin-left: -25px;
    margin-right: -25px;
}

.menu-slider .slick-slide img {
    margin: 0 auto;
}

.menu-slider .slide-inner {
    text-align: center;
}

.menu-slider .slide-inner:not(.slick-active .slide-inner) .h3 {
    background: none;
    opacity: 0.5;
}

.menu-slider .slide-inner:not(.slick-active .slide-inner) .btns-block {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.menu-slider .slide-inner .h3 {
    color: var(--green);
    font-family: var(--Nanum-Pen);
    line-height: 1;
    background: url('../images/active-bg.jpg');
    display: inline-block;
    background-size: 82%;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 400;
}

.menu-slider .site-btn {
    padding: 0 !important;
    margin: 0 !important;
}

.menu-slider .site-btn .btn-bg {
    margin-right: 0;
    position: relative;
    top: unset;
    transform: none;
    transition: var(--transition);
}

.menu-slider .site-btn .btn-icon {
    /* transform: translate(-50%, -50%) scale(1); */
}

.menu-slider .site-btn:hover .btn-icon {
    /* transform: translate(-50%, -50%) scale(1.1); */
    font-size: 25px;
}

.menu-slider .site-btn:not(:last-child) {
    margin-right: 20px;
}

.menu-slider .slide-inner .img-block {
    min-height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-sec {
    padding: 145px 0;
    background: url('../images/why-bg.jpg');
    background-size: cover;
}

.why-sec .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.why-sec .why-block-1 {
    max-width: 580px;
    width: 100%;
    /* background: url('../images/why-block-1.png');
    background-size: cover; 
    background-position: center;*/
    padding: 65px 50px;
}

.why-sec .why-block-1 .h3 {
    margin-bottom: 0;
    color: var(--off-white);
    line-height: 1.25;
}

.why-sec .why-block-2 {
    max-width: 580px;
    width: 100%;
    /* background: url('../images/why-block-2.png');
    background-size: cover; 
    background-position: center;*/
    padding: 50px 55px 50px 70px;
}

.why-sec .why-block-2 li {
    margin-bottom: 0;
    font-size: 20px;
    color: var(--off-white);
    line-height: 1.4;
    list-style: disc;
    font-weight: 500;
}

.why-sec .why-block {
    background: url('../images/why-block-1.png');
    background-size: cover;
    background-position: center;
}

.easy-sec {
    padding: 100px 0 0;
    margin-top: -70px;
    background: var(--orange);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.easy-sec .container {
    position: relative;
    padding-bottom: 100px;
}

.easy-sec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/easy-bg.png');
    background-size: cover;
    opacity: 0.5;
    pointer-events: none;
}

.easy-sec .h3 {
    color: var(--off-white);
    font-family: var(--Nanum-Pen);
    font-weight: 400;
    margin-bottom: 35px;
}

.easy-sec .svg-container {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-100%);
    height: 100%;
}

.easy-svg {
    overflow: visible;
    height: 100%;
}

.easy-text-block .mask {
    -webkit-mask-image: url('../images/shop-mask.svg');
    mask-image: url('../images/shop-mask.svg');
    mask-repeat: no-repeat;
    width: 100%;
}

.easy-text-block .mask img {
    width: 100%;
}

.easy-text-block .img-block-inner {
    width: 410px;
}

.easy-text-block .row {
    align-items: center;
}

.easy-text-block .img-block-inner {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    animation: morphing 10s infinite;
    /* overflow: hidden; */
    background-color: #FFCE75;
}

@-moz-keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }

    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }

    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }

    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}

@-webkit-keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }

    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }

    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }

    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}

@-o-keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }

    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }

    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }

    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}

@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }

    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }

    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }

    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}

.easy-text-block:nth-child(2) .mask {
    -webkit-mask-image: url('../images/delivery-mask.svg');
    mask-image: url('../images/delivery-mask.svg');
}

.easy-text-block:nth-child(2) .img-block-inner {
    width: 460px;
}

.easy-text-block:nth-child(2) .data-block {
    order: -1;
}

.easy-text-block:nth-child(2) .img-block-inner {
    margin-left: auto;
}

.easy-text-block:nth-child(3) .mask {
    -webkit-mask-image: url('../images/enjoy-mask.svg');
    mask-image: url('../images/enjoy-mask.svg');
}

.easy-text-block:nth-child(3) .img-block-inner {
    width: 346px;
}

.data-block-inner {
    max-width: 490px;
    margin: 0 auto;
}

.content-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}

.easy-text-block .data-block .h2 {
    margin: 0 0 10px;
    color: transparent;
    -webkit-text-stroke: 1px var(--off-white);
    text-stroke: 1px var(--off-white);
    text-shadow: none;
    transition: var(--transition);
}

.easy-text-block.active .data-block .h2 {
    color: var(--off-white);
    -webkit-text-stroke: unset;
    text-stroke: unset;
    transition: var(--transition);
}

.easy-text-block .data-block p {
    margin: 0;
    color: var(--off-white);
}

.easy-text-block:not(:first-child) {
    margin-top: 30px;
}

.easy-sec .bit-img,
.easy-sec .carrot-img,
.easy-sec .chili-img,
.easy-sec .spinach-img,
.easy-sec .tomato-red-img,
.easy-sec .tomato-img {
    position: absolute;
}

.easy-sec .bit-img {
    right: 10%;
    bottom: -30px;
    width: 86px;
}

.easy-sec .carrot-img {
    right: 0;
    bottom: -80px;
    width: 99px;
}

.easy-sec .chili-img {
    bottom: -10px;
    right: 41%;
    width: 135px;
}

.easy-sec .tomato-red-img {
    right: 18%;
    bottom: -20px;
    width: 111px;
}

.easy-sec .tomato-img {
    left: 40%;
    bottom: 0;
    width: 66px;
}

.easy-sec .spinach-img {
    bottom: -70px;
    left: 0;
    width: 141px;
}

.neighbors-sec {
    background-color: #222222;
    background-image: url('../images/neighbors-bg.svg');
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.neighbors-sec .h3 {
    color: var(--off-white);
    position: absolute;
    top: 100px;
    left: 100px;
}

.neighbors-sec .h3 span {
    display: block;
    font-family: var(--Nanum-Pen);
    font-weight: 400;
}

.neighbors-sec .container {
    position: relative;
    padding: 100px 20px;
}

.neighbors-data-block-wrapper {
    max-width: 1220px;
    margin: 0 auto;
}

.neighbors-data-block-wrapper .data-block {
    margin-left: auto;
    max-width: 595px;
    background: url('../images/SANDY-EATON-bg.svg');
    background-size: cover;
    padding: 44px 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.neighbors-data-block-wrapper .data-block:after {
    content: '';
    position: absolute;
    bottom: 20px;
    right: -20px;
    width: 43px;
    height: 19px;
    background: url('../images/curve-arrow.svg');
}

.neighbors-data-block-wrapper .data-block img {
    width: 172px;
}

.neighbors-data-block-wrapper .data-block p {
    margin-left: 20px;
    margin-bottom: 0;
    color: var(--off-white);
}

.neighbors-data-block-wrapper .data-block-row:nth-child(2) {
    display: flex;
    margin-top: 25px;
    align-items: flex-start;
}

.neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:first-child {
    max-width: 420px;
    background: url('../images/LILA-GOODMAN.svg');
    background-size: cover;
    padding: 21px 20px;
    margin-left: unset;
}

.neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:first-child img {
    width: 120px;
}

.neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:last-child {
    max-width: 510px;
    margin-right: 182px;
    background: url('../images/JANET-&-GABE.svg');
    background-size: cover;
    padding: 42px 30px;
}

.neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:last-child img {
    width: 143px;
}

.neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:last-child p {
    order: -1;
    margin-left: 0;
    margin-right: 10px;
}

.neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:last-child:after {
    width: 52px;
    height: 24px;
    background: url('../images/curve-arrow-2.svg');
    right: unset;
    left: -28px;
}

.neighbors-data-block-wrapper .data-block-row:last-child {
    justify-content: center;
    display: flex;
}

.neighbors-data-block-wrapper .data-block-row:last-child .data-block {
    margin-top: 57px;
    max-width: 460px;
    background: url('../images/BEAN-FAMILY.svg');
    background-size: cover;
    margin-left: unset;
    padding: 26px 20px;
    margin-left: 50px;
}

.neighbors-data-block-wrapper .data-block-row:last-child .data-block img {
    width: 115px;
}

.neighbors-bottom-img-1,
.neighbors-bottom-img-2 {
    position: absolute;
    bottom: -90px;
    width: 1042px;
}

.neighbors-bottom-img-1 {
    left: -340px;
}

.neighbors-bottom-img-2 {
    right: -360px;
}

.neighbors-bit-2,
.neighbors-bit,
.neighbors-carrot,
.neighbors-chilli-2,
.neighbors-chilli,
.neighbors-potato-2,
.neighbors-potato,
.neighbors-red-chilli,
.neighbors-spinach-2,
.neighbors-tomato-green,
.neighbors-tomato,
.neighbors-spinach {
    position: absolute;
    /* bottom: 0;
    left: 0; */
}

.neighbors-tomato {
    left: 15%;
    bottom: 0;
    width: 128px;
}

.neighbors-spinach-2 {
    bottom: -40px;
    left: -90px;
    width: 165px;
}

.neighbors-spinach {
    bottom: -40px;
    left: 19%;
    width: 165px;
}

.neighbors-potato-2 {
    bottom: 0;
    left: 0;
    width: 142px;
}

.neighbors-tomato-green {
    right: 12%;
    bottom: 10px;
    width: 100px;
}

.neighbors-red-chilli {
    right: -70px;
    bottom: -35px;
    width: 118px;
}

.neighbors-potato {
    bottom: 0;
    left: 180px;
    width: 118px;
}

.neighbors-carrot {
    bottom: -60px;
    right: 2%;
    width: 99px;
}

.neighbors-chilli {
    bottom: 20px;
    right: 15%;
    width: 192px;
}

.neighbors-chilli-2 {
    bottom: -20px;
    right: 21%;
    width: 208px;
}

.neighbors-bit {
    bottom: 18px;
    left: 25%;
    width: 84px;
}

.neighbors-bit-2 {
    right: 100px;
    bottom: 30px;
    width: 84px;
}

.delivered-sec {
    background: var(--off-white);
    overflow: hidden;
}

.delivered-sec .container {
    padding: 100px 20px;
    text-align: center;
    position: relative;
}

.delivered-sec .h3 {
    margin-bottom: 10px;
}

.delivered-sec .h3 span {
    font-family: var(--Nanum-Pen);
    font-weight: 400;
    display: block;
}

.delivered-sec p {
    margin-bottom: 60px;
    font-weight: 800;
}

.delivered-sec .site-btn .btn-bg {
    width: 100px;
    height: 85px;
    background: url('../images/instagram-btn-bg.svg');
    background-size: cover;
}

.delivered-sec .site-btn .btn-icon {
    font-size: 33px;
}

/* .delivered-sec .mask1 {
    -webkit-mask-image: url('../images/delivered-mask-1.svg');
    mask-image: url('../images/delivered-mask-1.svg');
    mask-repeat: no-repeat;
    width: 100%;
    width: 729px;
    position: relative;
  }
  
  .delivered-sec .mask1 img {
    width: 100%;
    height: 100%;
  } */

.delivered-sec .img-block-1 {
    width: 729px;
    height: 359px;
    position: absolute;
    bottom: 50%;
    left: -420px;
    -webkit-mask-image: url('../images/delivered-mask-1.svg');
    mask-image: url('../images/delivered-mask-1.svg');
}

.delivered-sec .img-block-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delivered-sec .img-block-2 {
    width: 729px;
    height: 359px;
    position: absolute;
    top: 50%;
    left: -420px;
    -webkit-mask-image: url('../images/delivered-mask-2.svg');
    mask-image: url('../images/delivered-mask-2.svg');
}

.delivered-sec .img-block-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delivered-sec .img-block-3 {
    width: 729px;
    height: 359px;
    position: absolute;
    bottom: 50%;
    right: -420px;
    -webkit-mask-image: url('../images/delivered-mask-3.svg');
    mask-image: url('../images/delivered-mask-3.svg');
}

.delivered-sec .img-block-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delivered-sec .img-block-4 {
    width: 729px;
    height: 359px;
    position: absolute;
    top: 50%;
    right: -420px;
    -webkit-mask-image: url('../images/delivered-mask-4.svg');
    mask-image: url('../images/delivered-mask-4.svg');
}

.delivered-sec .img-block-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.neighborhood-sec {
    background: var(--violet);
    position: relative;
    overflow: hidden;
}

.neighborhood-sec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/neighborhood-bg.png');
    background-size: cover;
    opacity: 0.5;
    pointer-events: none;
}

.neighborhood-sec .container {
    position: relative;
    padding: 100px 20px;
}

.neighborhood-sec .container::before {
    content: '';
    position: absolute;
    bottom: 40px;
    left: -350px;
    background: url('../images/neighborhood-bg-shape-1.svg');
    width: 599px;
    height: 451px;
    background-size: cover;
    transform: rotate(-45deg);
}

.neighborhood-sec .container::after {
    content: '';
    position: absolute;
    top: 0;
    right: -300px;
    background: url('../images/neighborhood-bg-shape-2.svg');
    width: 587px;
    height: 577px;
    background-size: cover;
}

.neighborhood-data-block {
    color: var(--off-white);
}

.neighborhood-data-block .h3,
.neighborhood-data-block .h4 {
    color: var(--off-white);
}

.neighborhood-data-block .h4 {
    margin-bottom: 0;
}

.neighborhood-data-block span {
    display: block;
}

.neighborhood-data-block .h3 {
    margin-bottom: 10px;
}

.neighborhood-data-block p {
    color: var(--off-white);
    font-size: 24px !important;
    font-weight: 800;
    margin-bottom: 50px;
}

.neighborhood-data-block .btn-icon {
    font-size: 34px;
}

.neighborhood-data-block-left {
    max-width: 560px;
}

.neighborhood-data-block-right {
    max-width: 535px;
    margin-left: auto;
    margin-top: 150px;
    text-align: right;
}

.neighborhood-data-block-right .h3,
.neighborhood-data-block-right .h4 {
    color: transparent;
    -webkit-text-stroke: 1px var(--off-white);
    text-stroke: 1px var(--off-white);
    text-shadow: none;
}

.neighborhood-sec .img-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38.1%;
    height: 92.2%;
    max-height: 972px;
    max-width: 670px;
}

.neighborhood-sec .img-block img {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media(min-width:1921px) {
    .hero-sec {
        min-height: unset;
    }
}

@media(max-width:1899px) {

    .hero-sec .container {
        /* padding: 250px 20px 80px; */
    }

    .good-food-sec .content-block {
        /* padding: 100px 0 330px; */
    }

    .good-food-sec .content-block {
        max-width: 890px;
    }

    .menu-sec {
        /* padding: 100px 0 100px; */
    }

    .menu-inner {
        margin-left: calc((100% - 1600px) / 2);
    }

    .menu-slider ul.filter li {
        margin: 0 30px 0 0;
        font-size: 28px;
    }

    .menu-slider .slick-slide {
        width: 400px;
    }

    .menu-slider .slide-inner .img-block {
        min-height: 340px;
    }

    .why-sec {
        padding: 120px 0;
    }

    /* .good-food-sec .img-block img.cart-bit-2-img,
    .good-food-sec .img-block img.cart-bit-img {
        width: calc(86px * 0.9);
    }
  
    .good-food-sec .img-block img.cart-carrot-2-img {
        width: calc(124px * 0.9);
    }
  
    .good-food-sec .img-block img.cart-carrot-img {
        width: calc(167px * 0.9);
    }
  
    .good-food-sec .img-block img.cart-potato-img {
        width: calc(240px * 0.9);
    }
  
    .good-food-sec .img-block img.cart-spinach-2-img {
        width: calc(193px * 0.9);
    }
  
    .good-food-sec .img-block img.cart-spinach-img {
        width: calc(280px * 0.9);
    }
  
    .good-food-sec .img-block img.cart-tomato-img {
        width: calc(140px * 0.9);
    } */
}

@media(max-width:1699px) {
    .menu-inner {
        margin-left: calc((100% - 1500px) / 2);
    }

    .hero-sec .img-block svg {
        /* width: 1100px;
        left: calc(50% - 250px);
        bottom: -230px; */
        width: 1200px;
        left: calc(50% - 350px);
        bottom: -90px;
    }

    .hero-sec .h1 {
        max-width: 700px;
    }

    .good-food-sec .content-block {
        max-width: 750px;
        padding: 100px 0 300px;
        padding: 100px 0 330px;
    }

    .good-food-sec svg {
        width: 1450px;
    }

    .good-food-sec .img-block img.cart-bit-2-img,
    .good-food-sec .img-block img.cart-bit-img {
        width: calc(86px * 0.9);
    }

    .good-food-sec .img-block img.cart-carrot-2-img {
        width: calc(124px * 0.9);
    }

    .good-food-sec .img-block img.cart-carrot-img {
        width: calc(167px * 0.9);
    }

    .good-food-sec .img-block img.cart-potato-img {
        width: calc(240px * 0.9);
    }

    .good-food-sec .img-block img.cart-spinach-2-img {
        width: calc(193px * 0.9);
    }

    .good-food-sec .img-block img.cart-spinach-img {
        width: calc(280px * 0.9);
    }

    .good-food-sec .img-block img.cart-tomato-img {
        width: calc(140px * 0.9);
    }

    .good-food-sec .svg-block {
        left: -240px;
        width: 1450px;
        /* bottom: 30px; */
    }
}

@media(max-width:1599px) {
    .menu-inner {
        margin-left: calc((100% - 1340px) / 2);
    }



    .easy-text-block .img-block-inner {
        /* width: 357px;
        height: 230px; */
        transform: scale(0.8);
        transform-origin: top left;
        /* width: calc(410px * 0.8);
        height: calc(264px * 0.8); */
        margin-bottom: -50px;
    }

    .content-wrapper {
        padding-top: 30px;
    }

    .menu-content-left {
        width: 600px;
    }

    .menu-slider {
        width: calc(100% - 600px);
    }

    .menu-slider ul.filter li {
        margin: 0 25px 0 0;
        font-size: 25px;
    }

    .why-sec {
        padding: 100px 0;
    }

    .neighborhood-data-block p {
        font-size: 22px !important;
    }

    .neighborhood-data-block-right {
        margin-top: 100px;
    }

    .easy-sec {
        /* margin-top: -100px; */
    }

    .why-sec .why-block-1 {
        /* padding: 78px 50px; */
        max-width: 460px;
        padding: 56px 50px;
    }

    .neighbors-bottom-img-1,
    .neighbors-bottom-img-2 {
        width: 900px;
        bottom: -70px;
    }
}

@media(max-width:1399px) {
    .hero-sec .img-block svg {
        width: 1100px;
        left: calc(50% - 300px);
        bottom: -90px;
    }

    .hero-sec .container {
        padding: 225px 20px 80px;
    }

    .hero-sec .h1 {
        max-width: 590px;
    }

    .good-food-sec .img-block img.cart-bit-2-img,
    .good-food-sec .img-block img.cart-bit-img {
        width: calc(86px * 0.7);
    }

    .good-food-sec .img-block img.cart-carrot-2-img {
        width: calc(124px * 0.7);
    }

    .good-food-sec .img-block img.cart-carrot-img {
        width: calc(167px * 0.7);
    }

    .good-food-sec .img-block img.cart-potato-img {
        width: calc(240px * 0.7);
    }

    .good-food-sec .img-block img.cart-spinach-2-img {
        width: calc(193px * 0.7);
    }

    .good-food-sec .img-block img.cart-spinach-img {
        width: calc(280px * 0.7);
    }

    .good-food-sec .img-block img.cart-tomato-img {
        width: calc(140px * 0.7);
    }

    .good-food-sec .svg-block {
        width: 1250px;
    }

    .good-food-sec .content-block {
        max-width: 680px;
        padding: 80px 0 280px;
    }

    .easy-sec {
        padding: 80px 0 0;
    }

    .easy-sec .h3 {
        margin-bottom: 25px;
    }

    .menu-inner {
        margin-left: 20px;
    }

    .menu-sec {
        padding: 100px 0 80px;
    }

    .menu-content-left {
        width: 500px;
    }

    .menu-slider {
        width: calc(100% - 500px);
    }

    .menu-slider ul.filter li {
        margin: 0 20px 0 0;
        font-size: 22px;
    }

    .menu-slider .slick-slide {
        width: 360px;
    }

    .why-sec {
        padding: 80px 0;
    }

    .why-sec .why-block-1 {
        max-width: 380px;
        padding: 52px 50px;
    }

    .why-sec .why-block-2 {
        max-width: 500px;
        padding: 35px 55px 25px 70px;
    }

    .neighbors-sec .container {
        padding: 80px 20px 100px;
    }

    .neighbors-tomato {
        width: calc(128px*0.8);
    }

    .neighbors-spinach-2 {
        width: calc(165px*0.8);
    }

    .neighbors-spinach {
        width: calc(165px*0.8);
    }

    .neighbors-potato-2 {
        width: calc(142px*0.8);
    }

    .neighbors-tomato-green {
        width: calc(100px*0.8);
    }

    .neighbors-red-chilli {
        width: calc(118px*0.8);
    }

    .neighbors-potato {
        width: calc(118px*0.8);
    }

    .neighbors-carrot {
        width: calc(99px*0.8);
    }

    .neighbors-chilli {
        width: calc(192px*0.8);
    }

    .neighbors-chilli-2 {
        width: calc(208px*0.8);
    }

    .neighbors-bit {
        width: calc(84px*0.8);
    }

    .neighbors-bit-2 {
        width: calc(84px*0.8);
    }

    .neighbors-potato-2 {
        left: 40px;
    }

    .neighbors-spinach-2 {
        left: -60px;
    }

    .neighbors-potato {
        left: 150px;
    }

    .delivered-sec .container {
        padding: 80px 20px;
    }

    .delivered-sec .site-btn .btn-bg {
        width: 88px;
        height: 75px;
    }

    .neighborhood-sec .container {
        padding: 80px 20px;
    }

    .delivered-sec p {
        margin-bottom: 50px;
    }

    .neighborhood-data-block-left,
    .neighborhood-data-block-right {
        max-width: 460px;
    }

    .neighborhood-data-block p {
        font-size: 20px !important;
        margin-bottom: 40px;
    }

    .neighbors-data-block-wrapper .data-block img {
        width: calc(162px*0.8);
    }

    .neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:last-child img {
        width: calc(143px*0.8);
    }

    .neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:first-child img {
        width: calc(120px*0.8);
    }

    .neighbors-data-block-wrapper .data-block-row:last-child .data-block img {
        width: calc(115px*0.8);
    }

    .neighbors-data-block-wrapper .data-block {
        max-width: 550px;
        padding: 35px 20px;
    }

    .neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:last-child {
        max-width: 460px;
        padding: 30px 30px;
        margin-right: 130px;
    }

    .neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:first-child {
        max-width: 380px;
        padding: 12px;
    }

    .neighbors-data-block-wrapper .data-block-row:last-child .data-block {
        max-width: 410px;
        padding: 15px 20px;
    }

    .neighbors-data-block-wrapper .data-block-row:nth-child(2) {
        margin-top: 25px;
    }

    .neighbors-data-block-wrapper .data-block-row:last-child .data-block {
        margin-top: 30px;
    }

    .neighborhood-sec .container::after {
        height: 500px;
        width: 508px;
        right: -150px;
    }

    .neighborhood-sec .container::before {
        width: 531px;
        height: 400px;
        left: -260px;
    }
}

@media(max-width:1199px) {
    .hero-sec {
        min-height: 700px;
    }

    .hero-sec .container {
        padding: 150px 20px 80px;
    }

    .hero-sec .h1 {
        margin-bottom: 50px;
    }

    .good-food-sec .content-block {
        padding: 80px 0 430px;
    }

    .menu-content-left {
        width: 350px;
    }

    .menu-slider {
        width: calc(100% - 350px);
    }

    .menu-slider ul.filter li {
        margin: 0 15px 0 0;
    }

    .neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:last-child {
        margin-right: 50px;
    }

    .neighbors-bottom-img-1,
    .neighbors-bottom-img-2 {
        width: 830px;
    }
}

@media(max-width:991px) {
    .hero-sec {
        align-items: flex-start;
        min-height: 800px;
    }

    .hero-sec .container {
        padding: 200px 20px 80px;
    }

    .hero-sec .img-block svg {
        width: 1150px;
        left: calc(50% - 350px);
    }

    .hero-sec .h1 {
        max-width: 500px;
    }

    .good-food-sec .content-block {
        max-width: 600px;
    }

    .good-food-sec .content-block {
        padding: 80px 0 480px;
    }

    .easy-text-block .img-block-inner {
        transform: scale(0.7);
        margin-bottom: -75px;
    }

    .easy-sec .svg-container {
        left: 54%;
    }

    .easy-sec .bit-img {
        width: calc(86px*0.8);
        bottom: -20px;
    }

    .easy-sec .carrot-img {
        width: calc(99px*0.8);
        bottom: -70px;
    }

    .easy-sec .chili-img {
        width: calc(135px*0.8);
    }

    .easy-sec .tomato-red-img {
        width: calc(111px*0.8);
        bottom: -10px;
    }

    .easy-sec .tomato-img {
        width: calc(66px*0.8);
    }

    .easy-sec .spinach-img {
        width: calc(141px*0.8);
        bottom: -60px;
    }

    .menu-sec {
        padding: 80px 0 80px;
    }

    .menu-content-left,
    .menu-slider {
        width: 100%;
    }

    .menu-slider {
        padding-left: 0;
        margin-top: 80px;
    }

    .menu-slider .slick-slide {
        width: 340px;
    }

    .why-sec .container {
        display: block;
    }

    .why-sec .why-block-2 {
        margin-top: 40px;
    }

    .neighbors-sec .h3 {
        position: unset;
    }

    .neighbors-data-block-wrapper .data-block-row:nth-child(2) {
        flex-direction: column;
    }

    .neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:last-child,
    .neighbors-data-block-wrapper .data-block-row:last-child .data-block {
        margin-top: 25px;
    }

    .neighbors-sec .container {
        padding: 80px 20px 150px;
    }

    .neighbors-bottom-img-1,
    .neighbors-bottom-img-2 {
        width: 48%;
        bottom: -30px;
    }

    .neighbors-bottom-img-1 {
        left: 0;
    }

    .neighbors-bottom-img-2 {
        right: 0;
    }

    .delivered-sec .img-block-1,
    .delivered-sec .img-block-2 {
        left: -470px;
    }

    .delivered-sec .img-block-3,
    .delivered-sec .img-block-4 {
        right: -470px;
    }

    .neighborhood-data-block-right {
        margin-top: 150px;
    }

    .neighborhood-sec .container::after {
        height: 400px;
        width: 407px;
        right: -120px;
    }

    .neighborhood-sec .container::before {
        width: 459px;
        height: 350px;
        left: -260px;
    }

    .neighborhood-sec .img-block {
        width: 45%;
    }
}

@media(max-width:767px) {
    .hero-sec .container {
        padding: 150px 20px 80px;
    }

    .hero-sec .h1 {
        margin-bottom: 30px;
    }

    .hero-sec {
        min-height: 700px;
    }

    .hero-sec .img-block svg {
        width: 700px;
        left: calc(50% - 230px);
        bottom: -60px;
    }

    .good-food-sec .img-block>img {
        /* display: none; */
    }

    .good-food-sec .content-block .btns-block {
        margin-top: -10px;
    }

    .good-food-sec .btns-block a {
        margin-top: 30px;
    }

    .good-food-sec .svg-block {
        width: 700px;
        left: -100px;
    }

    .good-food-sec .content-block {
        padding: 60px 0 370px;
    }

    .good-food-sec .img-block img.cart-bit-2-img,
    .good-food-sec .img-block img.cart-bit-img {
        width: calc(86px * 0.5);
    }

    .good-food-sec .img-block img.cart-carrot-2-img {
        width: calc(124px * 0.5);
        left: 230px;
        bottom: 140px;
    }

    .good-food-sec .img-block img.cart-carrot-img {
        width: calc(167px * 0.5);
        left: 170px;
        bottom: 90px;
    }

    .good-food-sec .img-block img.cart-potato-img {
        width: calc(240px * 0.5);
        left: 140px;
        bottom: 60px;
    }

    .good-food-sec .img-block img.cart-spinach-2-img {
        width: calc(193px * 0.5);
        left: 75px;
        bottom: 70px;
    }

    .good-food-sec .img-block img.cart-spinach-img {
        width: calc(280px * 0.5);
        left: 110px;
        bottom: 60px;
    }

    .good-food-sec .img-block img.cart-tomato-img {
        width: calc(140px * 0.5);
        left: 90px;
        bottom: 140px;
    }

    .good-food-sec .img-block img.cart-bit-img {
        left: 100px;
        bottom: 150px;
    }

    .good-food-sec .img-block img.cart-bit-2-img {
        left: 190px;
        bottom: 160px;
    }

    .easy-sec {
        margin-top: -20px;
        padding: 60px 0 0;
    }

    .easy-sec .svg-container {
        display: none;
    }

    .data-block-inner {
        max-width: 100%;
    }

    .easy-text-block .img-block-inner {
        transform: scale(0.6);
        margin-bottom: -78px;
    }

    .easy-text-block:nth-child(2) .data-block {
        order: unset;
    }

    .easy-text-block:nth-child(2) .img-block-inner {
        margin-left: 0;
        margin-bottom: -118px;
    }

    .easy-text-block:last-child .img-block-inner {
        margin-bottom: -112px;
    }

    .easy-text-block .data-block .h2 {
        color: var(--off-white);
        -webkit-text-stroke: unset;
        text-stroke: unset;
        transition: var(--transition);
    }

    .easy-sec .bit-img {
        width: calc(86px*0.6);
    }

    .easy-sec .carrot-img {
        width: calc(99px*0.6);
        bottom: -50px;
    }

    .easy-sec .chili-img {
        width: calc(135px*0.6);
        right: 46%;
    }

    .easy-sec .tomato-red-img {
        width: calc(111px*0.6);
        right: 24%;
    }

    .easy-sec .tomato-img {
        width: calc(66px*0.6);
    }

    .easy-sec .spinach-img {
        width: calc(141px*0.6);
        bottom: -50px;
    }

    .easy-sec .h3 {
        margin-bottom: 20px;
    }

    .menu-sec {
        padding: 60px 0 60px;
    }

    .menu-content-left p {
        margin: 20px 0 30px;
    }

    .menu-slider .slick-slide {
        width: unset;
        padding: 0;
    }

    .menu-slider ul.filter {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .menu-slider ul.filter li {
        margin: 0 0 6px;
        padding-left: 30px;
        font-size: 20px;
    }

    .menu-slider ul.filter li.active::before {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .menu-slider {
        margin-top: 50px;
    }

    .menu-slider .slick-track {
        margin-left: 0;
        margin-right: 0;
    }

    .menu-inner {
        margin-left: 20px;
        margin-right: 20px;
    }

    .menu-slider .slide-inner .img-block {
        min-height: 300px;
    }

    .why-sec {
        padding: 60px 0;
    }

    .why-sec .why-block-1 {
        max-width: 380px;
        padding: 40px;
    }

    .why-sec .why-block-2 {
        padding: 30px 40px 30px 40px;
    }

    .why-sec .why-block {
        background: rgba(97, 138, 77, 0.8);
    }

    .why-sec .why-block-2 li {
        font-size: 18px;
    }

    .neighbors-data-block-wrapper .data-block {
        background: var(--orange) !important;
        border-radius: 30px;
        max-width: 100% !important;
        margin-left: 0;
        margin-right: auto !important;
        margin-left: auto !important;
        display: block;
        padding: 25px 20px !important;
    }

    .neighbors-data-block-wrapper .data-block:after {
        display: none;
    }

    .neighbors-data-block-wrapper .data-block p {
        margin-left: 0;
        margin-top: 10px;
    }

    /* .neighbors-data-block-wrapper .data-block-row:nth-child(2) .data-block:first-child {
        max-width: 90%;
        padding: 25px 20px;
        margin-left: auto;
        margin-right: 0;
    } */

    .neighbors-tomato {
        width: calc(128px*0.5);
    }

    .neighbors-spinach-2 {
        width: calc(165px*0.5);
    }

    .neighbors-spinach {
        width: calc(165px*0.5);
    }

    .neighbors-potato-2 {
        width: calc(142px*0.5);
    }

    .neighbors-tomato-green {
        width: calc(100px*0.5);
        bottom: 0;
        right: -10px;
    }

    .neighbors-red-chilli {
        width: calc(118px*0.5);
    }

    .neighbors-potato {
        width: calc(118px*0.5);
        left: 210px;
        bottom: 0;
    }

    .neighbors-carrot {
        width: calc(99px*0.5);
    }

    .neighbors-chilli {
        width: calc(192px*0.5);
        bottom: 0;
        right: 3%;
    }

    .neighbors-chilli-2 {
        width: calc(208px*0.5);
    }

    .neighbors-bit {
        width: calc(84px*0.5);
    }

    .neighbors-bit-2 {
        width: calc(84px*0.5);
        bottom: 10px;
    }

    .neighbors-bottom-img-1,
    .neighbors-bottom-img-2 {
        width: 45%;
        bottom: -10px;
    }

    .neighbors-sec .container {
        padding: 60px 20px 120px;
    }

    .delivered-sec .img-block-1,
    .delivered-sec .img-block-2,
    .delivered-sec .img-block-3,
    .delivered-sec .img-block-4 {
        display: none;
    }

    .delivered-sec .container {
        padding: 60px 20px;
    }

    .delivered-sec .site-btn .btn-bg {
        height: 60px;
        width: 70px;
    }

    .delivered-sec .site-btn .btn-icon {
        font-size: 16px;
    }

    .delivered-sec .site-btn {
        text-align: left;
    }

    .delivered-sec p {
        margin-bottom: 30px;
    }

    .neighborhood-sec .container {
        padding: 60px 20px;
    }

    .neighborhood-data-block p {
        font-size: 18px !important;
        margin-bottom: 30px;
    }

    .neighborhood-sec .img-block {
        display: none;
    }

    .neighborhood-data-block-right {
        margin-top: 70px;
    }

    .neighborhood-sec .container::after {
        height: 300px;
        width: 305px;
        right: -100px;
    }

    .neighborhood-sec .container::before {
        width: 332px;
        height: 250px;
        left: -160px;
        bottom: 20px;
    }
}